<!DOCTYPE html>
{% set settings = sylius_settings_all('general') %}
<html>
    <head>
        <title>
            {% block title %}
                {{ settings.title|default('sylius.meta.frontend_title'|trans) }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}">
        <meta name="keywords" content="{{ settings.meta_keywords|default('sylius.meta.frontend_keywords'|trans) }}">
		
        <link href='http://fonts.googleapis.com/css?family=Raleway:500,700,100,400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

        {# stylesheets... #}
        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" />
            <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css" /> -->
            {% stylesheets output='css/frontend.css' filter='cssrewrite'
                'bundles/tresepicbopr/css/main.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
    	<!--  <div class="container"> -->
        {% block header %}
        	<div id="topMenu">
        		{#% if (is_mobile()) %}
        			<nav class="navbar" role="navigation">
						<div class="navbar-header">
    						<button type="button" class="navbar-toggle" data-toggle="collapse"
            						data-target=".navbar-ex1-collapse">
      							<span class="icon-bar"></span>
      							<span class="icon-bar"></span>
      							<span class="icon-bar"></span>
    						</button>
  						</div>
  						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav">
								{{ render(controller('SyliusWebBundle:Frontend/Component:menu')) }}
							</ul>
						</div>
					</nav>
				{% endif %#}
        		<a href="{{ path('sylius_homepage') }}" title="{{ 'sylius.logo'|trans }}"><img class="logoMobile" src="{{ asset('bundles/tresepicbopr/images/logo-mobile.png') }}" /></a>
        		{{ render(controller('SyliusWebBundle:Frontend/Component:topMenu')) }}
			</div>
			<div class="container">
				<header>
					<a href="{{ path('sylius_homepage') }}" title="{{ 'sylius.logo'|trans }}"><img class="logo" src="{{ asset('bundles/tresepicbopr/images/logo.png') }}" /></a>
					<div class="shoppingCart">
						{{ render(controller('SyliusWebBundle:Frontend/Component:shoppingCart')) }}
					</div>
					<ul class="navMenu">
						{{ render(controller('SyliusWebBundle:Frontend/Component:menu')) }}
					</ul>
					<img class="separator" src="{{ asset('bundles/tresepicbopr/images/separator.png') }}" />
				</header>
            <!--  
            <div class="masthead pull-right">
                {#{ knp_menu_render('sylius.frontend.main', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }#}
            </div>
            <div class="currency-menu masthead pull-right">
                {#{ knp_menu_render('sylius.frontend.currency', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }#}
            </div>
            -->
            <!--  <h1 class="logo"><a href="{#{ path('sylius_homepage') }#}" title="{#{ 'sylius.logo'|trans }#}"><span>{#{ 'sylius.logo'|trans }#}</span></a></h1> -->
        {% endblock %}

        {% block flashes %}
            {% for name, flashes in app.session.flashbag.all if name in ['success', 'error', 'notice', 'fos_user_success'] %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ name == 'fos_user_success' ? 'success' : name == 'error' ? 'danger' : name == 'notice' ? 'warning' : name }}">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        {{ flash|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        {% block main %}
        <!-- <hr>
        <div class="row">
            <div class="col-md-3" id="sidebar">-->
                {#% block sidebar %}
                <h4>{{ 'sylius.shop_by'|trans }}</h4><br>
                {{ knp_menu_render('sylius.frontend.taxonomies', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
                {{ render(url('sylius_partial_product_latest', {'limit': 5, 'template': 'SyliusWebBundle:Frontend/Product:latestSidebar.html.twig'})) }}
                {{ sonata_block_render({'name': '/cms/blocks/contact'}) }}

                    <h2>Links</h2>
                    <ul>
                    {% for child in cmf_children(cmf_find('/cms/pages')) %}
                        <li>
                            <a href="{{ path('sylius_page_show', {'id': child.name}) }}">{{ child.title|striptags }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endblock %#}
            <!-- </div>
            <div class="col-md-9"> -->
            	<div id="content" class="clearfix">
                {% block content %}
                {% endblock %}
                </div>
        <!-- </div> -->
        <!-- <hr>
        <div class="row"> -->
            {#% for i in 1..3 %}
                <div class="col-md-4">
                    {{ sonata_block_render({'name': '/cms/blocks/block-' ~ i}) }}
                </div>
            {% endfor %#}
        <!-- </div> -->
        <!-- <hr> -->
        {% endblock %}

        {#% block gallery %#}
            {# Gallery modal #}
            {#% include 'SyliusWebBundle::gallery.html.twig' %}
        {% endblock %#}

        {# Confirmation modal #}
        {#% include 'SyliusWebBundle::confirm-modal.html.twig' %#}
		</div>
        {% block footer %}
        <footer>
        <div class="container">
			<div class="containerFooter">
				<div class="info1">
					<div class="delivery">
						<p>Free delivery worldwide</p>
					</div>
					<div class="phone">
						<p>Place order via 1900 - 123468</p>
					</div>
					<div class="guarantee">
						<p>100% Money back guarantee!</p>
					</div>
				</div>
				<div class="info2">
					<div class="store">
						<div class="title">
							<p>SHOP BY</p>
						</div>
						<div class="content">
							<p>Brands</p>
							<p>Web Development</p>
							<p>Web Design</p>
							<p>T Technologies</p>
							<p>Holyday & Occasions</p>
						</div>
					</div>
					<div class="store">
						<div class="title">
							<p>SHOPPING INFO</p>
						</div>
						<div class="content">
							<p>Returns</p>
							<p>Delivery</p>
							<p>Customer Service</p>
							<p>Gift Cards</p>
							<p>Extended Service Plan</p>
						</div>
					</div>
					<div class="store">
						<div class="title">
							<p>WHAT'S IN STORE</p>
						</div>
						<div class="content">
							<p>Shopping</p>
							<p>Shipping</p>
							<p>My Account</p>
							<p>My Order</p>
							<p>Contact Us</p>
						</div>
					</div>
					<div class="store">
						<div class="title">
							<p>STORE LOCATION</p>
						</div>
						<div class="content">
							<span>Bolo Fashion</span>
							<p>3rd Floor, 1268A Family House, Street Name, NY, United State</p>
							<br />
							<p>1800-456-4953 - 1800 595 888 yourname@yourdomain.com</p>
						</div>
					</div>
				</div>
				<div class="info3">
					<!--  <div class="newsletter">
						<form type="POST" action="">
							<span>NEWSLETTER:</span> 
							<input type="text" value="Enter email adress..." /> 
							<button type="submit">SUBMIT</button>
						</form>
					</div>-->
					<div class="connected">
						<span>GET CONNECTED:</span>
						<div class="social">
							<img src="{{ asset ('bundles/tresepicbopr/images/in-icon.png') }}" />
							<img src="{{ asset ('bundles/tresepicbopr/images/facebook-icon.png') }}" />
							<img src="{{ asset ('bundles/tresepicbopr/images/twitter-icon.png') }}" />
							<img src="{{ asset ('bundles/tresepicbopr/images/flicker-icon.png') }}" />
							<img src="{{ asset ('bundles/tresepicbopr/images/pinterest-icon.png') }}" />
						</div>
					</div>
				</div>
				<div class="info4">
					<ul class="menuFooter">
						<li>Site Map</li>
						<li>Search terms</li>
						<li>Advanced search</li>
						<li>Order and Returns</li>
						<li>Privercy Policy</li>
						<li>Contact Us</li>
					</ul>
					<div class="copyright">
						<p>Copyright &copy;{{ 'now'|date('Y') }} <span>brandsofpuertorico.com</span> All rights reserved<p>
					</div>
				</div>
			</div>
		</div>
		</footer>
            <!-- <div class="footer">
                <p class="text-muted">
                    &copy; Sylius, 2011 - -->{#{ 'now'|date('Y') }}.
                </p>
                {{ knp_menu_render('sylius.frontend.social', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }#}
            <!-- </div> -->
        {% endblock %}
        <!-- </div> -->

        {# javascripts... #}
        {% block javascripts %}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        {% javascripts output='assets/compiled/frontend.js'
            '@SyliusWebBundle/Resources/assets/js/jquery.blueimp-gallery.min.js'
            '@SyliusWebBundle/Resources/assets/js/confirm-modal.js'
            '@SyliusWebBundle/Resources/assets/js/frontend.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>
