<!DOCTYPE html>
{% set settings = sylius_settings_all('general') %}
<html>
    <head>
        <title>
            {% block title %}
                {{ settings.title|default('sylius.meta.frontend_title'|trans) }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}">
        <meta name="keywords" content="{{ settings.meta_keywords|default('sylius.meta.frontend_keywords'|trans) }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		{% block og_title %}<meta property="og:title" content="{{ settings.title|default('sylius.meta.frontend_title'|trans) }}" />{% endblock %}
		{% block og_image %}<meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/tresepicbopr/images/logo.png') }}" />{% endblock %}
		<meta property="og:description" content="{{ settings.meta_description|default('sylius.meta.frontend_description'|trans) }}" />
		
		<link rel="shortcut icon" href="{{ asset('bundles/tresepicbopr/images/favicon.ico') }}" type="image/x-icon">
		<link rel="icon" href="{{ asset('bundles/tresepicbopr/images/favicon.ico') }}" type="image/x-icon">
        <link href='http://fonts.googleapis.com/css?family=Raleway:500,700,100,400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

        {# stylesheets... #}
        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" />
            <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" type="text/css" /> -->
            {% stylesheets output='css/frontend.css' filter='cssrewrite'
           	    '@SyliusWebBundle/Resources/assets/css/magnific-popup.css'
                'bundles/tresepicbopr/css/cookiecuttr.css'
                'bundles/tresepicbopr/css/main.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
    	<script type="text/javascript">
	      window.fbAsyncInit = function() {
	        FB.init({
	          appId      : '{{ facebook_client_id }}',
	          xfbml      : true,
	          version    : 'v2.0'
	        });
	      };
	
	      (function(d, s, id){
	         var js, fjs = d.getElementsByTagName(s)[0];
	         if (d.getElementById(id)) {return;}
	         js = d.createElement(s); js.id = id;
	         js.src = "//connect.facebook.net/en_US/sdk.js";
	         fjs.parentNode.insertBefore(js, fjs);
	       }(document, 'script', 'facebook-jssdk'));
	    </script>
	    
	    {% if(app.request.get('showFullMessage')) %}
		    <div class="cc-cookies">
		    	We use cookies, just to track visits to our website, we store no personal details. 
		    	<a href="#accept" class="cc-cookie-accept">ACCEPT COOKIES</a>  
		    	<a href="#decline" class="cc-cookie-decline">DECLINE COOKIES</a> 
		    	<a href="http://www.allaboutcookies.org/" title="Visit All about cookies (External link)">What are cookies?</a>
		    </div>
		{% endif %}
		
        {% block header %}
        <div id="topMenu">
			<nav class="navbar visible-xs" role="navigation">
				<div class="navbar-header">
    				<button type="button" class="navbar-toggle" 
    					data-toggle="collapse"
    					data-target=".navbar-ex1-collapse">
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
      					<span class="icon-bar"></span>
    				</button>
  				</div>
  				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						{{ render(controller('SyliusWebBundle:Frontend/Component:menu')) }}
					</ul>
				</div>
			</nav>
        	<a href="{{ path('sylius_homepage') }}" title="Brands of Puerto Rico"><img class="logoMobile" src="{{ asset('bundles/tresepicbopr/images/logo-mobile.png') }}" /></a>
        	
        	{{ render(controller('SyliusWebBundle:Frontend/Component:topMenu')) }}
		</div>
		<header>
			<div class="container">
				<div class="row">
					<div class="logoContainer col-md-2 col-sm-2">
						<a href="{{ path('sylius_homepage') }}" title="Brands of Puerto Rico" class="logo">
							<img src="{{ asset('bundles/tresepicbopr/images/logo.png') }}" class="img-responsive" />
						</a>
					</div>
					<div class="menuContainer col-md-10 col-sm-10">
						<div class="row topBar">
							<div class="col-md-7 col-sm-7">
								<div class="search">
									{% include 'SyliusWebBundle:Frontend/Search:search.html.twig' %}
								</div>
							</div>
							<div class="col-md-5 col-sm-5">
								<div class="shoppingCart">
									{{ render(controller('SyliusWebBundle:Frontend/Component:shoppingCart')) }}
								</div>
							</div>
						</div>
						<div class="row navBar">
							<div class="col-md-12">
								<ul class="navMenu">
									{{ render(controller('SyliusWebBundle:Frontend/Component:menu')) }}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
        {% endblock %}

        {% block flashes %}
            {% for name, flashes in app.session.flashbag.all if name in ['success', 'error', 'notice', 'fos_user_success'] %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ name == 'fos_user_success' ? 'success' : name == 'error' ? 'danger' : name == 'notice' ? 'warning' : name }}">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        {{ flash|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
        
        <div class="searchMobile col-xs-12">
			{% include 'SyliusWebBundle:Frontend/Search:search.html.twig' %}
		</div>
		
        {% block main %}
		<div id="content" class="clearfix">
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
		</div>
        {% endblock %}
        
        {% block footer %}
        <footer>
        <div class="container">
			<div class="containerFooter">
				<div class="info1">
					<div class="newsletter col-md-12">
						<form method="post" action="{{ path('sylius_newsletter') }}" class="clearfix">
							<span>NEWSLETTER:</span> 
							<input type="text" name="newsletter[email]" placeholder="Enter email address..." /> 
							<button type="submit">{{ 'sylius.submit'|trans }}</button>
						</form>
					</div>
				</div>
				<div class="footerSeparador">
				</div>
				{% if (is_device('iPhone')) %}
					<div class="info3Iphone">
						<div class="connectedIphone">
							<span>{{ 'sylius.get_connected'|trans }}:</span>
							<div class="socialIphone">
								<a href="http://instagram.com/brandsofpuertorico" target="_blank"><img src="{{ asset ('bundles/tresepicbopr/images/instagram-icon.png') }}" /></a>
								<a href="https://www.facebook.com/brandsofpuertorico" target="_blank"><img src="{{ asset ('bundles/tresepicbopr/images/facebook-icon.png') }}" /></a>
								<a href="https://twitter.com/BrandsofPR" target="_blank"><img src="{{ asset ('bundles/tresepicbopr/images/twitter-icon.png') }}" /></a>
								<a href="http://brandsofpuertorico.wordpress.com/" target="_blank"><img src="{{ asset ('bundles/tresepicbopr/images/wordpress-icon.png') }}" /></a>
								<a href="http://www.pinterest.com/bofpuertorico/" target="_blank"><img src="{{ asset ('bundles/tresepicbopr/images/pinterest-icon.png') }}" /></a>
							</div>
						</div>
					</div>
				{% else %}
					<div class="info3Mobile">
						<div class="connected">
							<span>{{ 'sylius.get_connected'|trans }}:</span>
							<div class="social">
								<a href="http://instagram.com/brandsofpuertorico" target="_blank"><img src="{{ asset ('bundles/tresepicbopr/images/instagram-icon.png') }}" /></a>
								<a href="https://www.facebook.com/brandsofpuertorico" target="_blank"><img src="{{ asset ('bundles/tresepicbopr/images/facebook-icon.png') }}" /></a>
								<a href="https://twitter.com/BrandsofPR" target="_blank"><img src="{{ asset ('bundles/tresepicbopr/images/twitter-icon.png') }}" /></a>
								<a href="http://brandsofpuertorico.wordpress.com/" target="_blank"><img src="{{ asset ('bundles/tresepicbopr/images/wordpress-icon.png') }}" /></a>
								<a href="http://www.pinterest.com/bofpuertorico/" target="_blank"><img src="{{ asset ('bundles/tresepicbopr/images/pinterest-icon.png') }}" /></a>
							</div>
						</div>
					</div>
				{% endif %}
				<div class="registerBrand">
					<div class="clearfix">
						<span>REGISTER YOUR BRAND</span>
						<div class="here">
							<a href="https://docs.google.com/forms/d/1pq-Q7zzSVltZZvSw9qnF5z7Iq_a1bxnsqvZyhpJoPLo/viewform" target="_blank"><button>HERE</button></a>
						</div>
					</div>
				</div>
				<div class="footerSeparador">
				</div>
				<div class="info2">
					<div class="store col-md-6" style="display: none;">
						<div class="title">
							<p>SHOP BY</p>
						</div>
						<div class="content">
							<p>Brands</p>
							<p>Categories</p>
							<p>Products</p>
						</div>
					</div>
					<div class="store col-md-4 col-xs-6">
						<div class="title">
							<p style="text-transform: uppercase;">{{ 'sylius.customer_service'|trans }}</p>
						</div>
						<div class="content">
							<p><a href="mailto:info@brandsofpuertorico.com" class="costumerFormLink">Delivery</a></p>
							<p><a href="mailto:info@brandsofpuertorico.com" class="costumerFormLink">{{ 'sylius.returns'|trans }}</a></p>
							<p><a href="mailto:info@brandsofpuertorico.com" class="costumerFormLink">{{ 'sylius.customer_service'|trans }}</a></p>
						</div>
					</div>
					<div class="store col-md-4 col-xs-6">
						<div class="title">
							<p style="text-transform: uppercase;">{{ 'sylius.whats_in_store'|trans }}</p>
						</div>
						<div class="content">
							<p>
							{% if app.user %}
								<a href="{{ path('sylius_account_homepage') }}">{{ 'sylius.my_account'|trans }}</a>
							{% else %}
								<a href="{{ path('fos_user_security_login') }}">{{ 'sylius.my_account'|trans }}</a>
							{% endif %}
							</p>
							<p>
							{% if app.user %}
								<a href="{{ path('sylius_account_homepage') }}">{{ 'sylius.my_orders'|trans }}</a>
							{% else %}
								<a href="{{ path('fos_user_security_login') }}">{{ 'sylius.my_orders'|trans }}</a>
							{% endif %}
							</p>
							<p><a href="{{ path('sylius_cart_summary') }}">Shopping Cart</a></p>
							<p><a href="mailto:info@brandsofpuertorico.com" class="costumerFormLink">Contact Us</a></p>
						</div>
					</div>
					<div class="store col-md-4 hidden-xs hidden-sm">
						<div class="title">
							<p>HQ TRESEPIC</p>
						</div>
						<div class="content">
							<span>Brands of Puerto Rico</span>
							<p>Ave. Ponce de Leon, Cobian's Plaza Suite 404-A San Juan, Puerto Rico 00901</p>
							<p>787-545-4545 info@brandsofpuertorico.com</p>
						</div>
					</div>
				</div>
				<div class="info3 row">
					<div class="col-md-6 registerYourBrand">
						<a href="https://docs.google.com/forms/d/1pq-Q7zzSVltZZvSw9qnF5z7Iq_a1bxnsqvZyhpJoPLo/viewform" target="_blank">Here</a>
						<span>Register your brand</span>
					</div>
					<div class="col-md-6 connected">
						<span>{{ 'sylius.get_connected'|trans }}:</span>
						<div class="social">
							<a href="http://instagram.com/brandsofpuertorico" target="_blank"><img src="{{ asset ('bundles/tresepicbopr/images/instagram-icon.png') }}" /></a>
							<a href="https://www.facebook.com/brandsofpuertorico" target="_blank"><img src="{{ asset ('bundles/tresepicbopr/images/facebook-icon.png') }}" /></a>
							<a href="https://twitter.com/BrandsofPR" target="_blank"><img src="{{ asset ('bundles/tresepicbopr/images/twitter-icon.png') }}" /></a>
							<a href="http://brandsofpuertorico.wordpress.com/" target="_blank"><img src="{{ asset ('bundles/tresepicbopr/images/wordpress-icon.png') }}" /></a>
							<a href="http://www.pinterest.com/bofpuertorico/" target="_blank"><img src="{{ asset ('bundles/tresepicbopr/images/pinterest-icon.png') }}" /></a>
						</div>
					</div>
				</div>
				<div class="info4">
					<ul class="menuFooter">
						<li><a href="https://docs.google.com/forms/d/1pq-Q7zzSVltZZvSw9qnF5z7Iq_a1bxnsqvZyhpJoPLo/viewform" target="_blank">{{ 'sylius.brand_registration'|trans }}</a></li>
						<li><a href="http://brandsofpuertorico.wordpress.com/2014/07/11/terms-and-conditions/" target="_blank">{{ 'sylius.terms_of_use'|trans }}</a></li>
						<li><a href="#costumerFormPopup" class="costumerFormLink">{{ 'sylius.contact_us'|trans }}</a></li>
					</ul>
					<div class="copyright">
						<p>Copyright &copy;{{ 'now'|date('Y') }} <span>brandsofpuertorico.com</span> <span class="rights">All rights reserved</span><p>
					</div>
				</div>
			</div>
		</div>
		</footer>
		<a href="#" class="back-to-top"><img src="{{ asset('bundles/tresepicbopr/images/back-to-top.png') }}" /></a>
        {% endblock %} {# EOF Footer #}

        <div id="costumerFormPopup" class="costumer-popup mfp-hide">
	        <div class="contentCostumerForm">
		        <div class="costumerForm">
		        	<h3>Contact Us</h3>
		        	<form action="{{ path('tresepic_bopr_costumerform') }}" method="post" class="clearfix">
		        		<div class="name field1">
		        			<div class="customLabel"><label>First Name</label></div>
			      	  		<div class="customInput">
			      	  			<input type="text" name="contact[name]"
			      	  				data-rule-required="true" >
			      	  		</div>
		        		</div>
		        		<div class="lastname field2">
		        		    <div class="customLabel"><label>Last Name</label></div> 
			      	  		<div class="customInput"><input type="text" name="contact[lastname]" data-rule-required="true" ></div>  	     		
		        		</div>
		        		<div class="email field1">
		        			<div class="customLabel"><label>Email	</label></div>
			      	  		<div class="customInput"><input type="text" name="contact[email]" data-rule-required="true" data-rule-email="true"></div>
		        		</div>
		        		<div class="phonenumber field2">
		        		    <div class="customLabel"><label>Phone Number</label></div> 
			      	  		<div class="customInput"><input type="text" name="contact[phone]" data-rule-required="true" ></div>  	     		
		        		</div>
		        		<div class="question">
		        			<div class="customLabel"><label>Question/Comment</label></div>
							<textarea name="contact[question]" data-rule-required="true" ></textarea>	        			
		        		</div>
						<div class="submitContent">
							<p>Please allow up to 48 hours for a response to your inquiry</p>
							<div class="button"><button type="submit"><img src="{{ asset('bundles/tresepicbopr/images/customerSubmitButton.png') }}" class="img-responsive"></button></div>
						</div>
		        	</form>
		        </div>
			</div>
		</div>
		
        {# javascripts... #}
        {% block javascripts %}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
            <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
        {% javascripts output='assets/compiled/frontend.js'
            '@SyliusWebBundle/Resources/assets/js/jquery.blueimp-gallery.min.js'
            '@SyliusWebBundle/Resources/assets/js/confirm-modal.js'
            '@SyliusWebBundle/Resources/assets/js/jquery.elevatezoom.js'
            'bundles/tresepicbopr/js/vendor/jquery.sticky.js'
            'bundles/tresepicbopr/js/vendor/jquery.cookie.js'
            'bundles/tresepicbopr/js/vendor/jquery.cookiecuttr.js'
            '@SyliusWebBundle/Resources/assets/js/spin.min.js'
            '@SyliusWebBundle/Resources/assets/js/jquery.magnific-popup.js'
            '@SyliusWebBundle/Resources/assets/js/jquery.validate.min.js'
            '@SyliusWebBundle/Resources/assets/js/frontend.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
	        <script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				
				ga('create', 'UA-48295007-1', 'auto');
				ga('send', 'pageview');
			</script>
        {% endblock %}
    </body>
</html>
