{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Backend/Order:macrosHistory.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.sales'|trans }}</li>
    <li>Historial de compras</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
    {% set criteria = app.request.query.get('criteria') %}
    <a href="{{ path('backend_order_history_download_excel', {'criteria': criteria}) }}" class="btn btn-success "><i class="glyphicon glyphicon-floppy-save"></i>Exportar XLS</a>
        {% if app.request.query.get('impago') %}
            <a href="{{ path('sylius_backend_order_history_index', {'impago': false}) }}" class="btn btn-danger"><i class="glyphicon glyphicon-eye-close"></i> {{ 'Ocultar Impagos'|trans }}</a>
        {% else %}
            <a href="{{ path('sylius_backend_order_history_index', {'impago': true}) }}" class="btn btn-danger"><i class="glyphicon glyphicon-eye-open"></i> {{ 'Mostar Impagos'|trans }}</a>
        {% endif %}
    </div>
    <h1><i class="glyphicon glyphicon-shopping-cart"></i>
    	Historial de compras
    	{% if (criteria['year'] is defined) %}
     		<small>del {{ criteria['month'] }} del {{ criteria['year'] }}</small>
     	{% endif %}
     </h1>
</div>

{% render(controller('sylius.controller.backend.form:filterAction', {'type': 'sylius_order_filter', 'template': 'SyliusWebBundle:Backend/Order:filterFormHistory.html.twig'})) %}

{{ pagination(orders) }}
{{ list(orders) }}
{{ pagination(orders) }}

{% endblock %}
