{% macro list(orders, user) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% set router_paramters = user is not null ? {'id' : user.id} : {} %}

{% if orders|length > 0 %}
<table id="orders" class="table">
    <thead>
        <tr>
            <th></th>
       {#       <th>{{ sylius_resource_sort('createdAt', 'sylius.order.created_at'|trans, null, {'route_params' : router_paramters}) }}</th> #}
            <th>{{ sylius_resource_sort('user', 'sylius.order.user'|trans, null, {'route_params' : router_paramters}) }}</th>            
            <th>{{ sylius_resource_sort('items', 'sylius.order.items'|trans, null, {'route_params' : router_paramters}) }}</th>
            <th>{{ sylius_resource_sort('addresses', 'sylius.order.adress'|trans, null, {'route_params' : router_paramters}) }}</th>
            <th>{{ sylius_resource_sort('createdAt', 'sylius.order.buy_date'|trans, null, {'route_params' : router_paramters}) }}</th>
            <th>{{ sylius_resource_sort('paymentMethod', 'sylius.order.method_payment'|trans, null, {'route_params' : router_paramters}) }}</th>
            <th>{{ sylius_resource_sort('shipments', 'sylius.order.send'|trans, null, {'route_params' : router_paramters}) }}</th>
            <th>{{ sylius_resource_sort('total', 'sylius.order.total_sale'|trans, null, {'route_params' : router_paramters}) }}</th>
            <th>{{ sylius_resource_sort('totalBrands', 'sylius.order.brands'|trans, null, {'route_params' : router_paramters}) }}</th>
            <th>{{ sylius_resource_sort('totalBopr', 'sylius.order.bopr'|trans, null, {'route_params' : router_paramters}) }}</th>
            <th>{{ sylius_resource_sort('shippingTotal', 'sylius.order.shipping_cost'|trans, null, {'route_params' : router_paramters}) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr id="{{ order.id }}" {% if order.deleted %} class="danger"{% endif %}>
            <td class="center-text"><input type="checkbox" value="{{ order.id }}" /></td>
            <td>
                <p>{{ order.user.fullName }} <br><a href="{{ path('sylius_backend_user_show', {'id': order.user.id}) }}">{{ order.user.email }}</a></p>
            </td>
            <td>
            	<ul>
                {% for item in order.items %}
                    <li>{{ item.product.name }}</li>
                {% endfor %}
            	</ul>
            </td>
            <td> 
                <ul>
                {% for address in order.user.addresses %}
                    <li>{{ address }}</li>
                {% endfor %}
                </ul>
            <td>{{ order.createdAt|date }}</td>
            <td>{{ order.payment.method }}</td>
            {% for shipment in order.shipments %}
            	<td>{{ shipment.method }}</td>
            {% endfor %}
            <td>{{ order.total|sylius_price(order.currency) }}</td>
            <td>{{ ((order.total-order.shippingTotal)*0.9)|sylius_price(order.currency) }}</td>
            <td>{{ ((order.total-order.shippingTotal)*0.1)|sylius_price(order.currency) }}</td>
            <td>{{ order.shippingTotal|sylius_price(order.currency) }}</td>
            <td>
                <div class="pull-right">
                {{ buttons.show(path('sylius_backend_order_show', {'id': order.id})) }}
                {% if not order.deleted %}
                {{ buttons.edit(path('sylius_backend_order_update', {'id': order.id})) }}
                {{ buttons.delete(path('sylius_backend_order_delete', {'id': order.id})) }}
                {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    {% if user is not null %}
        {{ alerts.info('sylius.user.order.no_results'|trans) }}
    {% else %}
        {{ alerts.info('sylius.order.no_results'|trans) }}
    {% endif %}
{% endif %}

{% endmacro %}

{% macro simple_list(orders) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Backend/Macros:misc.html.twig' as misc %}

{% if orders|length > 0 %}
<table id="orders" class="table">
    <thead>
        <tr>
            <th>{{ 'sylius.order.number'|trans }}</th>
            <th>{{ 'sylius.order.payment_state'|trans }}</th>
            <th>{{ 'sylius.order.shipment_state'|trans }}</th>
            <th>{{ 'sylius.order.user'|trans }}</th>
            <th>{{ 'sylius.order.total'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>
                <a href="{{ path('sylius_backend_order_show', {'id': order.id}) }}">
                <strong>#{{ order.number }}</strong>
                </a>
            </td>
            <td>
                {% include 'SyliusWebBundle:Backend/Order:_paymentState.html.twig' %}
            </td>
            <td>
                {% include 'SyliusWebBundle:Backend/Order:_shippingState.html.twig' %}
            </td>
            <td style="width: 20%">
                {{ order.user.fullname }}<br>
                <a href="{{ path('sylius_backend_user_show', {'id': order.user.id}) }}">
                    {{ order.user.email }}
                </a>
            </td>
            <td>{{ order.total|sylius_price(order.currency) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    {{ alerts.info('sylius.order.no_results'|trans) }}
{% endif %}

{% endmacro %}
