{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'TresepicBoprBundle:Backend/Manufacturer:macros.html.twig' import list %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li>{{ 'bopr.backend.breadcrumb.manufacturer.index'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('tresepic_bopr_backend_manufacturer_create'), 'bopr.backend.create'|trans) }}
    </div>
    <h1><i class="glyphicon glyphicon-th-list"></i> {{ 'bopr.backend.manufacturer.index_header'|trans|raw }}</h1>
</div>

{{ pagination(manufacturers) }}
{{ list(manufacturers) }}
{{ pagination(manufacturers) }}

{% endblock %}
