{% if app.request.xmlHttpRequest == 0 %}
{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% javascripts output='assets/compiled/frontend_province.js'
    '@SyliusWebBundle/Resources/assets/js/province-choices.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% endif %}
{% block content %}
{% if(app.request.xmlHttpRequest == 1) %}
	<form id="formStep1" method="post" action="{{ path('sylius_checkout_forward', {'stepName': context.currentStep.name}) }}" class="form-horizontal" novalidate>
	
		{{ form_errors(form) }}
	
		<fieldset style="border: none;">
	    	<div class="row">
	        	<div class="col-md-6 address-container">
	            	<div class="well">
	                	<h4>{{ 'sylius.checkout.finalize.order.shipping_address'|trans }}</h4>
	                	<br>
	                	{% include 'SyliusWebBundle:Frontend/Address:_form.html.twig' with {'form': form.shippingAddress} %}
	                	{{ form_row(form.differentBillingAddress, {'attr': {'class': 'sylius-different-billing-address-trigger'}}) }}
	            	</div>
	        	</div>
	        	<div class="col-md-6 hidden address-container" id="sylius-billing-address-container">
	            	<div class="well">
	                	<h4>{{ 'sylius.checkout.finalize.order.billing_address'|trans }}</h4>
	                	{% include 'SyliusWebBundle:Frontend/Address:_form.html.twig' with {'form': form.billingAddress} %}
	            	</div>
	        	</div>
	    	</div>
		</fieldset>
	
		{{ form_widget(form._token) }}
	
		<br>
	
		<div class="form-actions">
	    	<a href="{{ path('sylius_cart_summary') }}" class="btn btn-lg"><i class="icon-chevron-left"></i> {{ 'sylius.checkout.back'|trans }}</a> &nbsp;
	    	<button type="submit" class="btn btn-primary btn-lg">{{ 'sylius.checkout.forward'|trans }} <i class="icon-chevron-right"></i></button>
		</div>
		
		</form>
{% else %}
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
          1-{{ 'sylius.checkout.addressing.header'|trans|raw }}
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <form id="formStep1" method="post" action="{{ path('sylius_checkout_forward', {'stepName': context.currentStep.name}) }}" class="form-horizontal" novalidate>
	
		{{ form_errors(form) }}
	
		<fieldset style="border: none;">
	    	<div class="row">
	        	<div class="col-md-6 address-container">
	            	<div class="well">
	                	<h4>{{ 'sylius.checkout.finalize.order.shipping_address'|trans }}</h4>
	                	<br>
	                	{% include 'SyliusWebBundle:Frontend/Address:_form.html.twig' with {'form': form.shippingAddress} %}
	                	{{ form_row(form.differentBillingAddress, {'attr': {'class': 'sylius-different-billing-address-trigger'}}) }}
	            	</div>
	        	</div>
	        	<div class="col-md-6 hidden address-container" id="sylius-billing-address-container">
	            	<div class="well">
	                	<h4>{{ 'sylius.checkout.finalize.order.billing_address'|trans }}</h4>
	                	{% include 'SyliusWebBundle:Frontend/Address:_form.html.twig' with {'form': form.billingAddress} %}
	            	</div>
	        	</div>
	    	</div>
		</fieldset>
	
		{{ form_widget(form._token) }}
	
		<br>
	
		<div class="form-actions">
	    	<a href="{{ path('sylius_cart_summary') }}" class="btn btn-lg"><i class="icon-chevron-left"></i> {{ 'sylius.checkout.back'|trans }}</a> &nbsp;
	    	<button type="submit" class="btn btn-primary btn-lg">{{ 'sylius.checkout.forward'|trans }} <i class="icon-chevron-right"></i></button>
		</div>
		
		</form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
          2-{{ 'sylius.checkout.shipping.header'|trans|raw }}
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
          3-{{ 'sylius.checkout.payment.header'|trans|raw }}
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
          4-{{ 'sylius.checkout.finalize.header'|trans|raw }}
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
