{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% javascripts output='assets/compiled/frontend_province.js'
    '@SyliusWebBundle/Resources/assets/js/province-choices.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block content %}
{% if(context.currentStep.name == 'addressing') %}
	<div class="page-header">
	    <h1>{{ 'sylius.checkout.addressing.header'|trans|raw }}</h1>
	</div>
	
	{% include 'SyliusWebBundle:Frontend/Checkout:_progressBar.html.twig' %}
	
	<form method="post" action="{{ path('sylius_checkout_forward', {'stepName': context.currentStep.name}) }}" class="form-horizontal" novalidate>
	
	{{ form_errors(form) }}
	
	<fieldset style="border: none;">
	    <div class="row">
	        <div class="col-md-6 address-container">
	            <div class="well">
	                <h4>{{ 'sylius.checkout.finalize.order.shipping_address'|trans }}</h4>
	                <br>
	                {% include 'SyliusWebBundle:Frontend/Address:_form.html.twig' with {'form': form.shippingAddress} %}
	                {{ form_row(form.differentBillingAddress, {'attr': {'class': 'sylius-different-billing-address-trigger'}}) }}
	            </div>
	        </div>
	        <div class="col-md-6 hidden address-container" id="sylius-billing-address-container">
	            <div class="well">
	                <h4>{{ 'sylius.checkout.finalize.order.billing_address'|trans }}</h4>
	                {% include 'SyliusWebBundle:Frontend/Address:_form.html.twig' with {'form': form.billingAddress} %}
	            </div>
	        </div>
	    </div>
	</fieldset>
	
	{{ form_widget(form._token) }}
	
	<br>
	
	<div class="form-actions">
	    <a href="{{ path('sylius_cart_summary') }}" class="btn btn-lg"><i class="icon-chevron-left"></i> {{ 'sylius.checkout.back'|trans }}</a> &nbsp;
	    <button type="submit" class="btn btn-primary btn-lg">{{ 'sylius.checkout.forward'|trans }} <i class="icon-chevron-right"></i></button>
	</div>
	
	</form>
	<br>
	<br>
{% elseif(context.currentStep.name == 'shipping') %}
<div class="page-header">
    <h1>{{ 'sylius.checkout.shipping.header'|trans|raw }}</h1>
</div>

{% include 'SyliusWebBundle:Frontend/Checkout:_progressBar.html.twig' %}

{{ form_errors(form) }}

<form method="post" action="{{ path('sylius_checkout_forward', {'stepName': context.currentStep.name}) }}" class="form-horizontal" novalidate>

<fieldset>
{% for shipment in order.shipments %}

{% set shipmentForm = form.shipments[loop.index0] %}

{{ form_row(shipmentForm.method) }}

{% endfor %}
</fieldset>

{{ form_widget(form._token) }}

<div class="form-actions">
    <a href="{{ path('sylius_checkout_display', {'stepName': context.previousStep.name}) }}" class="btn btn-lg"><i class="icon-chevron-left"></i> {{ 'sylius.checkout.back'|trans }}</a> &nbsp;
    <button type="submit" class="btn btn-primary btn-lg">{{ 'sylius.checkout.forward'|trans }} <i class="icon-chevron-right"></i></button>
</div>

</form>
<br>
<br>
{% endif %}
{% endblock %}