{% block content %}

<form id="formStep3" method="post" action="{{ path('sylius_checkout_forward', {'stepName': context.currentStep.name}) }}" class="form-horizontal" novalidate>

{{ form_errors(form) }}

{{ form_label(form.paymentMethod) }}
<br>
<br>
<fieldset style="border: none;">
    {% for paymentMethodForm in form.paymentMethod %}
        {{ form_row(paymentMethodForm) }}
        <br>
    {% endfor %}
</fieldset>

{{ form_widget(form._token) }}

<div class="form-actions">
    {#}<a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="btn btn-lg"><i class="icon-chevron-left"></i> {{ 'sylius.checkout.back'|trans }}</a> &nbsp;{#}
    <button type="submit" class="btn btn-primary btn-lg">{{ 'sylius.checkout.forward'|trans }}</button>
</div>

</form>
{% endblock %}
