{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% javascripts output='assets/compiled/frontend_province.js'
    '@SyliusWebBundle/Resources/assets/js/province-choices.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block content %}
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
          1- {{ 'sylius.checkout.shipping.header'|trans|raw }}
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="preloader">
    	<img src="{{ asset('bundles/tresepicbopr/images/preload.gif') }}">
      </div>
      <div class="panel-body">
	  	{% include 'SyliusWebBundle:Frontend/Checkout/Step/Content:shipping.html.twig' %}
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
          2- {{ 'sylius.checkout.addressing.header'|trans|raw }}
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="preloader">
    	<img src="{{ asset('bundles/tresepicbopr/images/preload.gif') }}">
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
          3- {{ 'sylius.checkout.finalize.header'|trans|raw }}
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="preloader">
    	<img src="{{ asset('bundles/tresepicbopr/images/preload.gif') }}">
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
{% endblock %}