{% set size = size is defined?size:3 %}
{% set col = 12/size %}
<div class="article col-md-{{ col }} col-sm-{{ col }} col-xs-6">
    <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="imageContainer">
    	<img src="{{ product.image ? product.image.path|imagine_filter('sylius_250x250') : 'http://placehold.it/250x250' }}" alt="{{ product.name }}" class="img-responsive center-block" />
    	{% if product.hasImageByIndex(1) %}
    	<img src="{{ product.getImageByIndex(1).path|imagine_filter('sylius_250x250') }}" alt="{{ product.name }}" class="top img-responsive center-block" />
    	{% endif %}
    </a>
    <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="title">{{ product.name|truncate(36) }}</a>
    <p class="manufacturer">{{ product.getManufacturer }}</p>
    <p class="price">{{ product.price|sylius_price }}</p>
    {% if(product.masterVariant.onHand > 0) %}
	    {% if product.hasVariants %}
	    	<a href="{{ path('sylius_product_show', {'slug': product.slug}) }}"><p><button class="addToCart">{{ 'sylius.add_to_cart'|trans }}</button></p></a>
	    {% else %}
	    <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" class="formAddToCart" method="post">
	    	<input type="hidden" id="sylius_cart_item_quantity" name="sylius_cart_item[quantity]" value="1">
	    	<p>
	    		<button type="submit" class="addToCart">{{ 'sylius.add_to_cart'|trans }}</button>
	    	</p>
	    </form>
	    {% endif %}
	{% else %}
		<p><span class="label label-warning outStock">{{ 'sylius.out_of_stock'|trans }}</span></p>
	{% endif %}
</div>