{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Frontend/Macros:misc.html.twig' import pagination %}
{% from 'SyliusWebBundle:Frontend/Product:macros.html.twig' import list %}

{% block content %}
{% block breadcrums %}
<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><a href="{{ path('sylius_homepage') }}">Home</a></li>
			{% if(taxon.parent.level != 0) %}
				{% if(taxon.parent) %}
					<li><a href="{{ path('sylius_product_index_by_taxon', {'permalink': taxon.parent.permalink }) }}">{{ taxon.parent.name }}</a></li>
				{% endif %}
			{% endif %}
			<li>{{ taxon.name }}</li>
		</ol>
	</div>
</div>
{% endblock %}

<div class="row">
	{% block sidebar %}
	{% if(taxon.getChildren.isEmpty == false) %}
	<div class="col-sm-3 sidebar">
		<img src="{{ asset('bundles/tresepicbopr/images/separator-menu.png') }}" class="img-responsive" />
		<ul class="sideMenu">
			{{ render(controller('SyliusWebBundle:Frontend/Component:sideMenu', {'parent': taxon.id})) }}
		</ul>
	</div>
	{% endif %}
	{% endblock %}

	<div class="col-sm-{{ taxon.getChildren.isEmpty?'12':'9' }}">
		<div class="productList">
			{% for products in productss %}
			<div class="page page{{loop.index}}">
				{{ list(products) }}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}