{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% set form = sylius_cart_form({'product': product}) %}

{% block content %}
	{% block breadcrums %}
		<ol class="breadcrumb">
			<li><a href="{{ path('sylius_homepage') }}">Home</a></li>
			{{ render(controller('SyliusWebBundle:Frontend/Component:breadcrumbProductShow', {'id': product.id})) }}
			<li>{{ product.name }}</li>
		</ol>
	{% endblock %}
	<div class="productShow clearfix">
	    <div class="product col-md-9 col-xs-12">
	    	<div id=gallery>
	    		<img id="mainImage" class="img-responsive col-md-6" src="{{ product.image ? product.image.path|imagine_filter('sylius_400x400') : 'http://placehold.it/400x400' }}" data-zoom-image="{{ product.image ? product.image.path|imagine_filter('sylius_610x600') : 'http://placehold.it/610x600' }}" alt="{{ product.name }}" />
	    	</div>
			<div class="description col-md-6">
			    <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" class="clearfix form-horizontal">
			    <div class="name">{{ product.name }}</div>
			    <div class="manufacturer">{{ product.getManufacturer }}</div>
			    <div class="price">{{ product.price|sylius_price }}</div>
			    {% if product.hasVariants %}
			            {% if product.isVariantSelectionMethodChoice %}
			            <table class="table table-condensed">
			                <thead>
			                    <tr>
			                        <th></th>
			                        <th>{{ 'sylius.variant.price'|trans }}</th>
			                        <th></th>
			                    </tr>
			                </thead>
			                <tbody>
			                    {% for variant in product.variants if variant.available %}
			                    <tr>
			                        <td>
			                            {% if variant.presentation is empty %}
			                            <ul class="unstyled">
			                                {% for option in variant.options %}
			                                <li><strong>{{ option.presentation }}</strong>: {{ option.value }}</li>
			                                {% endfor %}
			                            </ul>
			                            {% else %}
			                                {{ variant.presentation }}
			                            {% endif %}
			                        </td>
			                        <td>
			                            <span class="label label-success">{{ variant.price|sylius_price }}</span>
			                        </td>
			                        <td>
			                        {% if sylius_inventory_is_available(variant) %}
			                            {{ form_widget(form.variant[loop.index0]) }}
			                        {% else %}
			                            <span class="label label-warning">{{ 'sylius.out_of_stock'|trans }}</span>
			                        {% endif %}
			                        </td>
			                    </tr>
			                    {% endfor %}
			                </tbody>
			            </table>
			            {% else %}
			                <div class="well clearfix">
			                    {{ form_widget(form.variant) }}
			                </div>
			            {% endif %}
			    {% endif %}
		        {% if not product.hasVariants and not sylius_inventory_is_available(product.masterVariant) %}
		            <span class="label label-warning">{{ 'sylius.out_of_stock'|trans }}</span>
		        {% else %}
		        {% if(product.masterVariant.onHand > 0) %}
			        <div class="quantity">
			            {{ form_row(form.quantity, {'attr': {'class': 'center-text'}, 'empty_value': '1'}) }}
			        </div>
			            <br>
			            <br>
			            {% if sylius_is_restricted(product) %}
			            <button disabled="disabled" class="btn btn-success btn-lg btn-block">{{ 'sylius.product_not_available_in_zone'|trans }}</button>
			            {% else %}
			                <button type="submit" class="addToCart">ADD TO CART</button>
			            {% endif %}
			    {% else %}
			    	<p><span class="label label-warning">{{ 'sylius.out_of_stock'|trans }}</span></p>
			    {% endif %}
		        {% endif %}
				</form>
			</div>
			{% if product.images|length > 0 %}
				<div id="gallery" class="col-md-7 col-xs-7">
					<br>
					<div id="carouselImages" class="carousel slide" data-ride="carousel">
	  					<!-- Wrapper for slides -->
	  					<div class="carousel-inner">
	  						<div class="item active">
					    		{% for image in product.images %}
					            	<img style="cursor: pointer;" src="{{ image.path|imagine_filter('sylius_90x60') }}" data-medium-img="{{ image.path|imagine_filter('sylius_400x400') }}" data-big-img="{{ image.path|imagine_filter('sylius_610x600') }}" alt="{{ product.name }}" />
					        		{% if(loop.index%4 == 0 and loop.index < product.images|length) %}
	    								</div>
	    								<div class="item">
	    							{% endif %}
					    		{% endfor %}
					    	</div>
					    </div>
						<!-- Controls -->
	  					<a class="left carousel-control" href="#carouselImages" data-slide="prev">
	    					<span class="glyphicon glyphicon-chevron-left"></span>
	  					</a>
	  					<a class="right carousel-control" href="#carouselImages" data-slide="next">
	    					<span class="glyphicon glyphicon-chevron-right"></span>
	  					</a>
					</div>
				</div>
			{% endif %}
			<div class="col-md-12 col-xs-12" style="margin-top: 50px;">
			    <ul class="nav nav-tabs">
				    <li class="active">
				    <a style="background-color: #81705a; color: #ffffff;">Product description</a>
				    </li>
				    <!--  <li><a href="#">...</a></li>
				    <li><a href="#">...</a></li>-->
				</ul>
				<br>
				<p>{{ product.description }}</p>
			</div>
		</div>
		
		<div class="col-md-3">
			{{ render(controller('SyliusWebBundle:Frontend/Component:bannerProductShow', {'id': product.id})) }}
		</div>
		
	</div>
{% endblock %}
