<p><strong>Name:</strong>{{ costumer['name'] }}</p>
<p><strong>Lastname:</strong>{{ costumer['lastname'] }}</p>
<p><strong>Email:</strong>{{ costumer['email'] }}</p>
<p><strong>Phone:</strong>{{ costumer['phone'] }}</p>
<p><strong>Question:</strong>{{ costumer['Question'] }}</p>