{% set product = item.variant.product %}
{% if not(is_mobile()) %}
<tr>
    <td class="col-md-1">{{ loop.index }}</td>
    <td>
        {{ include('SyliusWebBundle:Frontend/Product:_variant.html.twig', {'variant': item.variant}) }}
    </td>
    <td class="col-md-2">
        {{ form_row(form.items[loop.index0].quantity, {'attr': {'class': 'quantityCart'}, 'label': false}) }}
    </td>
    <td class="col-md-1">
        <a href="{{ path('sylius_cart_item_remove', {'id': item.id}) }}" class="btn btn-danger">{{ 'sylius.delete'|trans }}</a>
    </td>
    <td class="col-md-1">
        {{ item.unitPrice|sylius_price }}
    </td>
    <td class="col-md-1" style="text-align: right">
        {{ item.total|sylius_price }}
    </td>
</tr>
{% else %}
<tr>
	<th class="col-xs-6">#</th>
    <td class="col-xs-6">{{ loop.index }}</td>
</tr>
<tr>
	<th class="col-xs-6">{{ 'sylius.cart.summary.product'|trans }}</th>
    <td class="col-xs-6">{{ include('SyliusWebBundle:Frontend/Product:_variant.html.twig', {'variant': item.variant}) }}</td>
</tr>
<tr>
	<th class="col-xs-6">{{ 'sylius.cart.summary.quantity'|trans }}</th>
    <td class="col-xs-6">{{ form_row(form.items[loop.index0].quantity, {'attr': {'class': 'quantityCart'}, 'label': false}) }}</td>
</tr>
<tr>
	<th class="col-xs-6"></th>
    <td class="col-xs-6"><a href="{{ path('sylius_cart_item_remove', {'id': item.id}) }}" class="btn btn-danger">{{ 'sylius.delete'|trans }}</a></td>
</tr>
<tr>
	<th class="col-xs-6">{{ 'sylius.cart.summary.unit_price'|trans }}</th>
    <td class="col-xs-6">{{ item.unitPrice|sylius_price }}</td>
</tr>
<tr>
	<th class="col-xs-6">Subtotal</th>
    <td class="col-xs-6">{{ item.total|sylius_price }}</td>
</tr>
{% endif %}
