{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% import 'SyliusWebBundle:Frontend/Macros:alerts.html.twig' as alerts %}

{% form_theme form _self %}

{% block content %}
<div class="cart">
	<div class="page-header">
	<h1>{{ 'sylius.cart.summary_header'|trans|raw }}</h1>
	</div>
	
	{% if not cart.empty %}
	{{ form_errors(form) }}
	
	<form action="{{ path('sylius_cart_save') }}" method="post" novalidate>
	<table class="table" style="width: 100%;">
	    <thead>
	        <tr>
	            <th>#</th>
	            <th style="text-align: left;">{{ 'sylius.cart.summary.product'|trans }}</th>
	            <th style="text-align: left;">{{ 'sylius.cart.summary.quantity'|trans }}</th>
	            <th></th>
	            <th style="text-align: left;">{{ 'sylius.cart.summary.unit_price'|trans }}</th>
	            <th style="text-align: right;">Subtotal</th>
	        </tr>
	    </thead>
	    <tbody>
	        {% for item in cart.items %}
	            {% include 'SyliusWebBundle:Frontend/Cart:_item.html.twig' %}
	        {% endfor %}
	    </tbody>
	    <tfoot>
	        <tr>
	            <td colspan="6" style="text-align: right;">
	                <strong>{{ 'sylius.cart.summary.grand_total'|trans }}</strong>: {{ cart.total|sylius_price }}
	            </td>
	        </tr>
	    </tfoot>
	</table>
	
	<div class="well">
	    <button type="submit" class="btn btn-primary btn-lg">GUARDAR</button>
	    <br>
	    <br>
	    <div>
	    <a href="{{ path('sylius_checkout_start') }}" class="btn btn-success btn-lg">FINALIZAR COMPRA</a>
	    <a href="{{ path('sylius_cart_clear') }}" class="btn btn-danger btn-lg">VACIAR CARRITO</a>
	    </div>
	</div>
	{{ form_widget(form._token) }}
	</form>
	{% else %}
	    {{ alerts.info('sylius.cart.empty'|trans) }}
	{% endif %}
</div>
{% endblock %}

{% block sylius_cart_item_row %}
{{ parent() }}
{% block form_message %}{% endblock %}
{% endblock %}
