{% if(taxon.name == 'Gourmet') %}
	<a href="{{ url('sylius_product_index_by_taxon', {'permalink': 'categories/categories-jewelry/sneakyhearts'}) }}"><img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/banner/sneakyhearts_accesoriestab.png') }}"></a>
{% elseif(taxon.name == 'Art & Literature') %}
	<a href="{{ url('sylius_product_index_by_taxon', {'permalink': 'categories/apparel/spasm-clothing'}) }}"><img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/banner/SPASMclothing_healthandbeautytab.png') }}"></a>
{% elseif(taxon.name == 'Health & Beauty') %}
	<a href="{{ url('sylius_product_index_by_taxon', {'permalink': 'categories/art-literature/artonico'}) }}"><img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/banner/artonico_appareltab.png') }}"></a>
{% elseif(taxon.name == 'Accessories') %}
	<a href="{{ url('sylius_product_index_by_taxon', {'permalink': 'categories/health-beauty/de-hojas'}) }}"><img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/banner/health&beauty.png') }}"></a>
{% elseif(taxon.name == 'Apparel') %}
	<a href="{{ url('sylius_product_index_by_taxon', {'permalink': 'categories/categories-accesories/lollipop-cases'}) }}"><img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/banner/lollipopcases.png') }}"></a>
{% elseif(taxon.name == 'Jewelry') %}
	<a href="{{ url('sylius_product_index_by_taxon', {'permalink': 'categories/health-beauty/linda-mami'}) }}"><img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/banner/parismacarons.png') }}"></a>
{% endif %}
