<div class="container">
	<div class="featuredIn hidden-xs">
		<ul class="clearfix">
			<li class="featured">Featured in...</li>
			<li>
				<a href="http://cnn.it/PdLWkJ" target="_blank"><img src="{{ asset('bundles/tresepicbopr/images/featured/cnn.png') }}" alt="CNN" class="img-responsive"></a>
			</li>
			<li>
				<a href="{{ asset('bundles/tresepicbopr/endi.pdf') }}" target="_blank"><img src="{{ asset('bundles/tresepicbopr/images/featured/dia.png') }}" alt="El nuevo Dia" class="img-responsive"></a>
			</li>
			<li>
				<a href="http://america.efefuturo.com/noticia/diez-nuevas-marcas-se-suman-a-plataforma-puertorriquena-comercio-electronico/" target="_blank"><img src="{{ asset('bundles/tresepicbopr/images/featured/efe.png') }}" alt="EFE" class="img-responsive"></a>
			</li>
		</ul>
	</div>
	<ul class="menu hidden-xs">
		{% if app.user %}
			<li class="myWishlist"><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
			<li class="myAccount"><a href="{{ path('sylius_account_homepage') }}">My Account</a></li>
		{% else %}
			<li class="myAccount"><a href="{{ path('fos_user_security_login') }}">{{ 'sylius.frontend.menu.main.login'|trans({}, 'menu') }}</a></li>
			{# <li class="myWishlist"><a href="{{ path('fos_user_registration_register') }}">Register</a></li>  #}
		{% endif %}
		<li class="myCart"><a href="{{ path('sylius_cart_summary') }}">{{ 'sylius.frontend.menu.main.mycart'|trans({}, 'menu') }}</a></li>
		{% if(not cart.isEmpty) %}
			<li class="checkout"><a href="{{ path('sylius_checkout_start') }}">Checkout</a></li>
		{% endif %}				
	</ul>
	<ul class="menuMobile visible-xs">
		{% if app.user %}
			<li class="myWishlist"><a href="{{ path('fos_user_security_logout') }}"></a></li>
			<li class="myAccount"><a href="{{ path('sylius_account_homepage') }}"></a></li>
		{% else %}
			<li class="myAccount"><a href="{{ path('fos_user_security_login') }}"></a></li>
			<li class="myWishlist"><a href="{{ path('fos_user_registration_register') }}"></a></li>
		{% endif %}
		<li class="myCart"><a href="{{ path('sylius_cart_summary') }}"></a></li>
		{% if(not cart.isEmpty) %}
			<li class="checkout"><a href="{{ path('sylius_checkout_start') }}"></a></li>
		{% endif %}				
	</ul>
</div>