{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
	<div class="static1 container-fluid">
		<div class="top row">
		{% if not(is_mobile()) %}
			<div class="left col-md-2">
				<img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/lulu_lifestyle.png') }}">
			</div>
			<div class="middle col-md-8">
				<div id="carouselBanner" class="carousel slide" data-ride="carousel">
	  				<!-- Indicators -->
				  	<ol class="carousel-indicators">
				    	<li data-target="#carouselBanner" data-slide-to="0" class="active"></li>
				    	<li data-target="#carouselBanner" data-slide-to="1"></li>
				    	<li data-target="#carouselBanner" data-slide-to="2"></li>
				  	</ol>
  					<!-- Wrapper for slides -->
  					<div class="carousel-inner">
    					<div class="item active">
      						<img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/angiedenisselifestyle.png') }}">
    					</div>
    					<div class="item">
      						<img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/suxess.png') }}">
    					</div>
    					<div class="item">
      						<img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/coa.png') }}">
    					</div>
  					</div>
  					<!-- Controls -->
  					<a class="left carousel-control" href="#carouselBanner" data-slide="prev">
    					<span class="glyphicon glyphicon-chevron-left"></span>
  					</a>
  					<a class="right carousel-control" href="#carouselBanner" data-slide="next">
    					<span class="glyphicon glyphicon-chevron-right"></span>
  					</a>
				</div>
			</div>
			<div class="right col-md-2">
				<img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/artonico.png') }}">
			</div>
		{% else %}
			<div class="col-xs-12">
				<div id="carouselBanner" class="carousel mobile slide" data-ride="carousel">
	  				<!-- Indicators -->
				  	<ol class="carousel-indicators">
				    	<li data-target="#carouselBanner" data-slide-to="0" class="active"></li>
				    	<li data-target="#carouselBanner" data-slide-to="1"></li>
				    	<li data-target="#carouselBanner" data-slide-to="2"></li>
				  	</ol>
  					<!-- Wrapper for slides -->
  					<div class="carousel-inner">
    					<div class="item active">
      						<img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/angiedenisselifestyle.png') }}">
    					</div>
    					<div class="item">
      						<img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/suxess.png') }}">
    					</div>
    					<div class="item">
      						<img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/coa.png') }}">
    					</div>
  					</div>
  					<!-- Controls -->
  					<a class="left carousel-control" href="#carouselBanner" data-slide="prev">
    					<span class="glyphicon glyphicon-chevron-left"></span>
  					</a>
  					<a class="right carousel-control" href="#carouselBanner" data-slide="next">
    					<span class="glyphicon glyphicon-chevron-right"></span>
  					</a>
				</div>
			</div>
		{% endif %}
		</div>
		<div class="bottom row">
		{% if not(is_mobile()) %}
			<div class="left col-md-4">
				<img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/peelheel_3.png') }}">
			</div>
			<div class="middle col-md-4">
				<div class="top">
					<img class="img-responsive static1BottomImg" src="{{ asset('bundles/tresepicbopr/images/lollipopcases2.png') }}">
				</div>
				<div class="bottom">
					<img class="img-responsive static1BottomImg" src="{{ asset('bundles/tresepicbopr/images/origami_lifestyle2.png') }}">
				</div>
			</div>
			<div class="right col-md-4">
				<img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/HEELCONDOMS.png') }}">
			</div>
		{% else %}
			<div class="col-xs-6">
				<img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/lollipopcases2.png') }}">
			</div>
			<div class="col-xs-6">
				<img class="img-responsive pull-right" src="{{ asset('bundles/tresepicbopr/images/origami_lifestyle2.png') }}">
			</div>
		{% endif %}
		</div>
	</div>
<!-- <div class="jumbotron">
    <h1>-->{#{ 'hola'|trans }}</h1>
    <p class="lead">{{ 'sylius.homepage.splash.subheadline'|trans }#}<!-- </p>
</div>-->
	<div class="featuredProducts">
		<img class="separator img-responsive" src="{{ asset('bundles/tresepicbopr/images/featured-products.png') }}" />
	</div>
	<div class="products clearfix">
		{% if not(is_mobile()) %}
			{{ render(url('sylius_partial_product_random', {'limit': 12, 'template': 'SyliusWebBundle:Frontend/Product:latest.html.twig'})) }}
		{% else %}
			{{ render(url('sylius_partial_product_random', {'limit': 6, 'template': 'SyliusWebBundle:Frontend/Product:latest.html.twig'})) }}
		{% endif %}
		<img class="separator img-responsive container" style="margin-bottom: 25px;" src="{{ asset('bundles/tresepicbopr/images/separator.png') }}" />
	</div>
	<div class="static2 container-fluid">
		{% if not(is_mobile()) %}
		<div class="row">
			<div class="left col-md-6">
				<img class="img-responsive" src="{{ asset('bundles/tresepicbopr/images/sotomayor_lifestyle.png') }}">
			</div>
			<div class="right col-md-6">
				<div class="row">
					<div class="left col-md-4">
						<img class="img-responsive static2Img" src="{{ asset('bundles/tresepicbopr/images/dehojas_lifestyle.png') }}">
					</div>
					<div class="middle col-md-4">
						<img class="img-responsive static2Img" src="{{ asset('bundles/tresepicbopr/images/lactitas_lifestyle.png') }}">
					</div>
					<div class="right col-md-4">
						<img class="img-responsive static2Img" src="{{ asset('bundles/tresepicbopr/images/uvitaplayera_lifestyle.png') }}">
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="row">
			<div class="col-xs-8 static2ColR">
				<img class="img-responsive static2ImgTop" src="{{ asset('bundles/tresepicbopr/images/sotomayor_lifestyle.png') }}">
			</div>
			<div class="col-xs-4">
				<img class="img-responsive static2Img" src="{{ asset('bundles/tresepicbopr/images/dehojas_lifestyle.png') }}">
			</div>
		</div>
		{#}
		<div class="row" style="margin-top: 20px;">
			<div class="col-xs-4">
				<img class="img-responsive static2Img" src="{{ asset('bundles/tresepicbopr/images/uvitaplayera_lifestyle.png') }}">
			</div>
			<div class="col-xs-8 static2ColL">
				<img class="img-responsive static2ImgTop" src="{{ asset('bundles/tresepicbopr/images/peelheel_3.png') }}">
			</div>
		</div>
		{#}
		{% endif %}
	</div>
{% endblock %}
