{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="boxesAndBanner row">
	<div class="boprBoxes col-md-2 col-sm-2 col-xs-12">
		<div class="subscribe">
			<a href="{{ path('bopr_subscription') }}">
				<img class="center-block img-responsive" src="{{ asset('bundles/tresepicbopr/images/boprSubscriptions.jpg') }}">
			</a>
		</div>
		<div class="experience">
			<a href="http://www.brandsofpuertorico.com/p/haz-tu-propio-queso-con-quesos-vaca-negra">
				<img class="center-block img-responsive" src="{{ asset('bundles/tresepicbopr/images/boprExperience.jpg') }}">
			</a>
		</div>
		<div class="services">
			<a href="{{ path('bopr_services') }}">
				<img class="center-block img-responsive" src="{{ asset('bundles/tresepicbopr/images/boprServices.jpg') }}">
			</a>
		</div>
	</div>
	<div class="carouselBannerContainer col-md-10  col-sm-10 col-xs-12">
		<div id="carouselBanner" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carouselBanner" data-slide-to="0" class="active"></li>
				<li data-target="#carouselBanner" data-slide-to="1"></li>
				<li data-target="#carouselBanner" data-slide-to="2"></li>
				<li data-target="#carouselBanner" data-slide-to="3"></li>
				<li data-target="#carouselBanner" data-slide-to="4"></li>
				<li data-target="#carouselBanner" data-slide-to="5"></li>
				<li data-target="#carouselBanner" data-slide-to="6"></li>
				<li data-target="#carouselBanner" data-slide-to="7"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active subscribe">
      				<a href="{{ path('bopr_subscription') }}">
      					<img class="center-block" src="{{ asset('bundles/tresepicbopr/images/banner/subscriptionbox_slideshow.jpg') }}">
      				</a>
    			</div>
				<div class="item">
					<a href="{{ url('sylius_product_index_by_taxon', {'permalink': 'categories/apparel'}) }}">
						<img class="center-block" src="{{ asset('bundles/tresepicbopr/images/banner/apparel.png') }}">
					</a>
				</div>
				<div class="item">
					<a href="{{ url('sylius_product_index_by_taxon', {'permalink': 'categories/accessories'}) }}">
						<img class="center-block" src="{{ asset('bundles/tresepicbopr/images/banner/accesories_slideshow.jpg') }}">
					</a>
				</div>
				<div class="item">
      				<a href="{{ url('sylius_product_index_by_taxon', {'permalink': 'categories/health-beauty'}) }}">
      					<img class="center-block" src="{{ asset('bundles/tresepicbopr/images/banner/health_beauty_slideshow.jpg') }}">
      				</a>
    			</div>
    			<div class="item">
      				<a href="{{ url('sylius_product_index_by_taxon', {'permalink': 'categories/art-literature'}) }}">
      					<img class="center-block" src="{{ asset('bundles/tresepicbopr/images/banner/art_literature_slideshow.jpg') }}">
      				</a>
    			</div>
    			<div class="item">
      				<a href="{{ url('sylius_product_index_by_taxon', {'permalink': 'categories/gourmet'}) }}">
      					<img class="center-block" src="{{ asset('bundles/tresepicbopr/images/banner/gourmet_slideshow.jpg') }}">
      				</a>
    			</div>
    			<div class="item">
      				<a href="{{ url('sylius_product_index_by_taxon', {'permalink': 'categories/categories-jewelry'}) }}">
      					<img class="center-block" src="{{ asset('bundles/tresepicbopr/images/banner/jewelry_slideshow.jpg') }}">
      				</a>
    			</div>
				<div class="item">
					<a href="{{ url('sylius_yoapoyoajulia') }}">
						<img class="center-block" src="{{ asset('bundles/tresepicbopr/images/banner/yoapoyoajulia.png') }}">
					</a>
    			</div>
  			</div>
  			<!-- Controls -->
  			<a class="left carousel-control" href="#carouselBanner" data-slide="prev">
    			<span class="glyphicon glyphicon-chevron-left"></span>
  			</a>
			<a class="right carousel-control" href="#carouselBanner" data-slide="next">
    			<span class="glyphicon glyphicon-chevron-right"></span>
  			</a>
		</div>
	</div>
</div>

<div class="featuredProducts">
	<img class="separator img-responsive" src="{{ asset('bundles/tresepicbopr/images/featured-products.png') }}" />
</div>
<div class="products clearfix">
	{{ render(url('sylius_partial_product_random', {'limit': 12, 'template': 'SyliusWebBundle:Frontend/Product:latest.html.twig'})) }}
	<img class="separator img-responsive container" style="margin-bottom: 25px;" src="{{ asset('bundles/tresepicbopr/images/separator.png') }}" />
</div>

<div class="row video">
	<div class="col-xs-12">
		<iframe src="//player.vimeo.com/video/100530771?byline=0&amp;portrait=0" width="100%" height="380px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>

<div id="carouselBrands" class="carousel slide col-xs-12" data-ride="carousel">
	<!-- Wrapper for slides -->
  	<div class="carousel-inner">
  		<div class="item active">
	  		<div class="col-xs-3">
	  			<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/Angie-dennise-logo.png') }}">
	  		</div>
	  		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/artonico-logo.png') }}">
  			</div>
  			<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/cafe-pomarrosa-logo.png') }}">
  			</div>
  			<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/castener-logo.png') }}">
  			</div>
    	</div>
    	<div class="item">
    		<div class="col-xs-3">
	  			<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/CHACHI-logo.png') }}">
	  		</div>
	  		<div class="col-xs-3">
	  			<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/chali-logo.png') }}">
  			</div>
  			<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/coa-sungalsses-logo.png') }}">
  			</div>
  			<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/cookie-couture-logo.png') }}">
  			</div>
      	</div>
      	<div class="item">
    		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/coqueterias-logo.png') }}">
	  		</div>
	  		<div class="col-xs-3">
	  			<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/de-hojas-logo.png') }}">
  			</div>
  			<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/editorial-antillano-logo.png') }}">
  			</div>
  			<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/glutenfrei-logo.png') }}">
  			</div>
      	</div>
      	<div class="item">
    		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/heel-condoms-logo.png') }}">
	  		</div>
	  		<div class="col-xs-3">
	  			<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/impulse-logo.png') }}">
  			</div>
  			<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/KRMA-DESIGN-co-logo.png') }}">
  			</div>
  			<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/lactitas-logo.png') }}">
  			</div>
      	</div>
      	<div class="item">
    		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/linda-mami-logo.png') }}">
	  		</div>
	  		<div class="col-xs-3">
	  			<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/lollipop-cases-logo.png') }}">
  			</div>
  			<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/lulu-logo.png') }}">
  			</div>
  			<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/noxiuz-logo.png') }}">
  			</div>
      	</div>
      	<div class="item">
    		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/origami-logo.png') }}">
	  		</div>
	  		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/PEELandHEEL-logo.png') }}">
  			</div>
  			<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/postales-bien-cool-logo.png') }}">
  			</div>
  			<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/purple-swan-logo.png') }}">
  			</div>
      	</div>
      	<div class="item">
    		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/quero-logo.png') }}">
	  		</div>
	  		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/sotomayor-logo.png') }}">
  			</div>
  			<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/spasm-clo-logo.png') }}">
  			</div>
  			<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/suxess-logo.png') }}">
  			</div>
      	</div>
      	<div class="item">
	  		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/uvita-playera-logo.png') }}">
  			</div>
	  		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/axon-logo.png') }}">
  			</div>
	  		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/de-la-calle-logo.jpg') }}">
  			</div>
	  		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/feather-logo.jpg') }}">
  			</div>  			
      	</div>
       	<div class="item">
	  		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/fabs-creations-logo.jpg') }}">
  			</div>
	  		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/local-beach-logo.png') }}">
  			</div>
	  		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/rio-logo.jpg') }}">
  			</div>
	  		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/saana-logo.png') }}">
  			</div>  			
      	</div>
       	<div class="item">
	  		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/marrero-collection-logo.png') }}">
  			</div>
	  		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/miramelinda-logo.png') }}">
  			</div>
	  		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/new-time-skateboards-logo.jpg') }}">
  			</div>
	  		<div class="col-xs-3">
  				<img class="img-responsive center-block" src="{{ asset('bundles/tresepicbopr/images/terramia.jpg') }}">
  			</div> 
      	</div>
	</div>
	<!-- Controls -->
  	<a class="left carousel-control" href="#carouselBrands" data-slide="prev">
    	<span class="glyphicon glyphicon-chevron-left"></span>
  	</a>
  	<a class="right carousel-control" href="#carouselBrands" data-slide="next">
    	<span class="glyphicon glyphicon-chevron-right"></span>
  	</a>
</div>

<div id="carouselTestimonials" class="carousel slide col-xs-12" data-ride="carousel">
	<!-- Wrapper for slides -->
  	<div class="carousel-inner">
  		<div class="item active">
	  		<blockquote>
	  			<p class="quote">Súper contenta con mi compra. El Café rico y el proceso para tenerlo fue accesible y rápido. Brands es una alternativa genial.</p>
  				<p>Sarie Silva, San Juan</p>
			</blockquote>
    	</div>
	</div>
	<!-- Controls -->
  	<a class="left carousel-control" href="#carouselTestimonials" data-slide="prev">
    	<span class="glyphicon glyphicon-chevron-left"></span>
  	</a>
  	<a class="right carousel-control" href="#carouselTestimonials" data-slide="next">
    	<span class="glyphicon glyphicon-chevron-right"></span>
  	</a>
</div>
{% endblock %}