{{ form_errors(form)  }}
<div>
    {{ form_row(form.name, {'attr': {'class': 'input-lg'}}) }}
    {{ form_row(form.priority, {'attr': {'class': 'input-lg'}}) }}
    {{ form_row(form.link, {'attr': {'class': 'input-lg'}}) }}
    {{ form_row(form.imageFile, {'attr': {'class': 'input-lg'}}) }}
</div>
{{ form_rest(form) }}
